<div class="ui modal" #modal>
  <div class="header">
    {{title}}
  </div>
  <div class="image content">
    <div class="image" *ngIf="icon!=undefined">
      <i class="{{icon}}"></i>
    </div>
    <div class="description">
      {{message}}
    <div class="ui form">
      <input type="text" [(ngModel)]="confirm">
    </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button" (click)="onYes()" [ngClass]="{disabled: confirm!=safeMessage}">Yes</div>
    <div class="ui button" (click)="onNo()">No</div>
  </div>
</div>
