<div class="ui "style="margin-top:20px;">
<h3 class="ui  header">Applications</h3>
<app-safe-dialog [show]="openDelete" [title]="deleteTitle" [message]="deleteMessage" [data]="appToDelete" [safe-message]="appToDeleteConfirm" (no)="openDelete=false;" (yes)="confirmAppDelete($event);openDelete=false;"></app-safe-dialog>

<div class="ui  attached menu">
  <div class="ui search item">
    <div class="ui transparent icon input">
      <input class="prompt" type="text" placeholder="Search applications..." [(ngModel)]="filterApplication">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="right item" style="padding: 5px;">
    <div class="ui form">
      <div class="inline fields" style="margin: 0px;">
        <div class="field">
          <input type="text" placeholder="Application name" [(ngModel)]="newApp.name">
        </div>
        <div class="field">
          <div class="ui green icon button" (click)="addApplication()">
            <i class="add icon"></i>
            Add Application
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <div class="ui relaxed divided list" >
    <div  class="item" *ngFor="let app of applications | filterBy:{name:filterApplication}">
      <div class="right floated content">
        <div class="ui red icon button" (click)="deleteApplication(app)">
          <i class="ui trash icon"></i>
          Delete
        </div>
      </div>
      <i class="large settings middle aligned icon"></i>
      <div class="content">
        <a class="header" [routerLink]="[app.name]">{{app.name}}</a>
        <div class="description">{{app.createdAt}}</div>
      </div>
    </div>
  </div>
</div>
</div>
